@import "../../shared/Variables.scss";

.container {
  display: flex;
  padding: 10px 15px;
  background-color: $color-background;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  position: relative;

  p {
    position: relative;
    top: -2px;
  }
}

.active:hover {
  cursor: pointer;
  background-color: #dfdfdf;

  button {
    display: flex;
  }
}

.br16 {
  border-radius: 16px;
}

.pd20 {
  padding: 20px;
}
